<div class="container-fluid card_holder">
   <app-filter-search></app-filter-search>
    <div class="card card_main h-120 overlay_div">
        <div class="card-body h-100">
            <div class="row text-center border_bottom_row">
                <div class="col-lg-4 header_columns">
                    <span>rs200</span>
                    <span>Rent/month</span>
                    </div>
                <div class="col-lg-4 header_columns">
                    <span>1BHK - 600sqft </span>
                    <span>Property type</span>
                </div>
                <div class="col-lg-4 header_column">
                    <span>Rs2000</span>
                    <span>Deposit</span>
                </div>
            </div>
            <div class="row d-flex">
                <div class="image_div">image from service</div>
                <div class="data_div"> 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="data-internal-div ml-2"> Preferred tenant</div>
                           </div>
                        <div class="col-lg-6">
                            <div class="data-internal-div mr-5"> how old is the property(flat)/when posted(pg)</div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="data-internal-div ml-2"> meals(pg)/furnishing type(flat)</div>
                        </div>
                        <div class="col-lg-6">
                            <div class="data-internal-div mr-5"> gate closing time(pg)/possession period(flat)</div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card card-suggestion h-120 overlay_div">
        <div class="card-body h-100">
            abc
        </div>

    </div>
</div>