<div class="container-fluid header_search_box_no_details h-100">
    <div class="row">
        <div class="col-lg-12 ">
          <h1 class="text-center style_text">Find the best stay near your office !</h1>
        </div>
      
    </div>
    <div class="row" >
        <div class="col-lg-12">
          <div class="card mx-auto w-75 h-120 overlay_div">
              <div class="card-body w-90 h-100">
                  <div class="row">
                      <div class="col-lg-3 w-100"><input class="w-100 h-100" autofocus (keyup)="enterFunction($event)" [(ngModel)]="searchTextValue" type="text" placeholder="City Name" [value]="searchTextValue"/>
                          <div class="list-show" [ngClass]="showListData? 'active': ''" ng-model="textVal">
                            <div class="list-body">
                              <div class="col list-group ">
                                <div class="row list-group-item list-length" *ngFor="let c of cityArray | filter : searchTextValue">
                                  <div (click)="onTouchStart(c)">{{c}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      <div class="col-lg-3 w-100"><input class="w-100 h-100" type="text" (keydown)="keyDownFunction($event)"  [(ngModel)]="searchTextCom" placeholder="Company Name"  />
                        <ul class="cityArrayList" id="companyArrayList" *ngIf="searchTextCom">
                            <li id="cityArrayListLi" *ngFor="let comp of companyArray| filter : searchTextCom" (click)="bindValueToInputBoxCompany(comp)">
                              {{comp}}
                            </li>
                          </ul></div>
                          <div class="col-lg-3 w-100"><input class="w-100 h-100" type="text" (keydown)="keyDownFunction($event)"  [(ngModel)]="searchTexttech" placeholder="Tech park/location"  />
                            <ul class="cityArrayList" id="techParkList" *ngIf="searchTexttech">
                                <li id="cityArrayListLi" *ngFor="let tech of techParkArray| filter : searchTexttech" (click)="bindValueToInputBoxTechPark(tech)">
                                  {{tech}}
                                </li>
                              </ul></div>
                      <div class="col-lg-3"><button [disabled]="!disableButton" class="btn btn-primary" (click)="showDetailedFilteredValue()">BROWSE NEAREST STAYS</button></div>
                  </div>
              </div>
              
        </div>
    </div>
    
</div>
 </div>
