
.welcomeTab{
   margin: 15px;
   font-size: x-large;
   font-family: sans-serif;
}
.eyeIcon,.eyeIcon_slash{
   float: right;
   margin-top: -28px;
   margin-right: 7px;
   color: black;
}
.wronginput{
   color: red;
    font-size: large;
}