<div class="container">
  <div class="welcomeTab text-center">Welcome Back!</div>
<form name="form" [formGroup]="form" (keydown)="keyDownFunction($event)" (ngSubmit)="form.valid && submit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"/>
    <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
      <div *ngIf="form.get('email').errors.required">Email is Required</div>
      <div *ngIf="form.get('email').errors.pattern">Please enter a valid Username</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="passwordLog" class="form-control" formControlName="password" maxlength="10" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}"/>
    <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
      <div *ngIf="form.get('password').errors.required">Password is Required</div>
      <div *ngIf="form.get('password').errors.minlength">Password should be of minimum 6 characters</div>
      <div *ngIf="form.get('password').errors.maxlength">Password should be of maximum 10 characters</div>
    </div>
  </div>
  <div class="form-group">
   <button class="btn btn-primary"  type="submit" [disabled]="!form.valid">Login</button>
  </div>
  <span class="wronginput" *ngIf="showInvalidDiv">Oops! the inputs are not valid</span>
</form>
</div>