<div class="container">
  <div class="welcomeTab text-center">Welcome To EmployeeMate!</div>
  <form name="form" [formGroup]="form" (keydown)="keyDownFunction($event)" (ngSubmit)="form.valid && register()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}"/>
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="invalid-feedback">
        <div *ngIf="form.get('name').errors.required">First Name is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" formControlName="lname" [ngClass]="{'is-invalid':form.get('lname').touched && form.get('lname').invalid}"/>
      <div *ngIf="form.get('lname').touched && form.get('lname').invalid" class="invalid-feedback">
        <div *ngIf="form.get('lname').errors.required">Last Name is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"/>
      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
        <div *ngIf="form.get('email').errors.required">Email is Required</div>
        <div *ngIf="form.get('email').errors.pattern">Please enter a valid Username</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" maxlength="10" id="passwordReg" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
      <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
        <div *ngIf="form.get('password').errors.required">Email is Required</div>
        <div *ngIf="form.get('password').errors.minlength">Password should be of minimum 6 characters</div>
        <div *ngIf="form.get('password').errors.maxlength">Password should be of maximum 10 characters</div>
      </div>
    </div>
    <div class="form-group">
     <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Register</button>
    </div>
  </form>
  </div>