
.logo-holder{
    width: 22%;
    margin-left: 39%;
}
.card_body_padding{
    padding:0 !important;
}
.linkToRegister{
    margin: 8px;

}
.loginRegHyperLink{
    color: blue;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  
  .container-fluid {
    position: relative;
    margin: 0 auto;
  }
  
  .container-fluid img {vertical-align: middle;}
  
  .container-fluid .content {
    position: absolute;
    bottom: 0;
    margin-left: 35%;
    margin-bottom: 10%;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
  }
  .logo-holder{
    margin-left: 43%;
    height: 85px;
    width: 85px;
    margin-top: -39px;
    background-color: white;
    border-radius: 41px;
  }
